:root {
    /* Fonts */
    --main-fonts: Roboto, sans-serif;
    /* color */
    --primary-text-color: #212121;
    --accent-color: #757575;
    --bg-color: #FFFFFF;
    --text-color: #000;
    --logo-color: #2196F3;
    --second-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
}
/* body */
body {
    background-color: var(--bg-color);
    font-family: roboto;
    color: var(--text-color);
}
ul {
    list-style: none;
}

/* header */
.page-header {
width: 1600px;
    height: 80px;
    display: flex;
}

/* logo */
.logo {
        color: var(--logo-color);
    text-decoration: none;
}

.logo-span {
    color: var(--text-color);
    text-decoration: none;
}
/* nav */
.site-nav {
        color: var(--primary-text-color);
        cursor: pointer;
}
.nav-link {
    text-decoration: none;
}
.site-nav:hover, .site-nav:focus, .site-nav:active {
    color: var(--logo-color);
}
/* contacts */
.contact-information {
        color: var(--accent-color);
        cursor: pointer;
        text-decoration: none;
}
.contact-information:hover, .contact-information:focus {
    color: var(--logo-color);
}
/* unique page content */
/* hero */
.hero {
    background-color: var(--footer-bg-color);
    width: 1600px;
        height: 600px;
        text-align: center;
}

.hero-title {
    color: var(--bg-color);
    text-transform: uppercase;
}
.hero-button {
    background-color: var(--logo-color);
    color: var(--bg-color);
    cursor:pointer;
}
/* section one */
.section {}

.section-title {
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-text-color);
}

.section-text {
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: var(--accent-color);
}
/* section two */
.about {}

.about-title {
    font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(44 / 36);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}
/* section three */
.company {
    background-color: var(--second-bg-color);
}

.company-title {
    font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(44 / 36);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

.company-name {
    
        font-weight: 500;
        font-size: 16px;
        line-height: calc(19 / 16);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

.company-text {
    
        font-size: 16px;
        line-height: calc(19 / 16);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--accent-color);
}
/* footer */
.footer {
    background-color: var(--footer-bg-color);
}
.footer-span {
    color: var(--bg-color);
}

.footer-text {
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: var(--bg-color);
}

.footer-contacts {
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
.footer-contacts:hover, .footer-contacts:focus, .footer-contacts:active{
    color: var(--logo-color);
}
.btn {
    background-color: var(--second-bg-color);
    color: var(--primary-text-color);
    cursor: pointer;
    font-weight: 500;
        font-size: 16px;
        line-height: calc(26 / 16);
        text-align: center;
        letter-spacing: 0.03em;
}